<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guohl.innermanage.dao.RoleDao">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.guohl.innermanage.entity.RoleEntity" id="RoleMap">

        <result column="role" property="roleName" jdbcType="VARCHAR" />
        <result column="permission" property="permission" jdbcType="VARCHAR" />

    </resultMap>



    <select id="getRolePermissions" parameterType="java.lang.String" resultMap="RoleMap">
        select *
        from role where roleName=#{roleName}
    </select>



</mapper>